{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "/blog/css/main.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Search - Posts</title>
  </head>
  <body>
    <div class='sidebar'>
    <h3 style="text-align:center"><u>Latest Posts</u></h3>
    <br>
    {% latest_posts %}
    <hr>
    <h4 style="text-align:center"><u>Most commented posts</u></h4>
    <br>
    {% most_commented as most_commented_posts %}
    {% for post in most_commented_posts %}
    <ul>

    <li><p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p></li>

    </ul>
    {% endfor %}
    </div>
    <div class="content">


    {% if keyword %}

    <h3>Found {{posts.count}} result{{posts.count|pluralize }}</h3>
    <h3>Posts containing '{{keyword}}' are :</h3>
    {% for post in posts %}
    <ul>
      <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
    </ul>
    {% endfor %}

    <hr>
    <h2>Search Again</h2>
<form  action="" method="get">
  {{form.as_p}}

  <input type="submit" value="Search">
</form>

  {% else %}
  <h2>Search for Posts</h2>
  <br>
  <form  action="" method="get">
    {{form.as_p}}

    <input type="submit" value="Search">
  </form>
  {% endif %}

</div>
  </body>
</html>
