<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Share</title>
  </head>
  <body>
    {% if sent %}
    <h2>Email sent succesfully</h2>
    {% else %}

    <h2>Share a Post</h2>
    <hr>
    <div class="container">


    <form action="#" method="post">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" value="Send E-Mail">
    </form>
    </div>
    {% endif %}
  </body>

</html>
